@import 'variables';

// Background colors
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange ,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active {
  color: #fff !important;
}
.bg-grey {
  color: #000;
  background-color: @grey!important;
}
.bg-gray-light {
  background-color: #f7f7f7;
}
.bg-black {
  background-color: @black!important;
}
.bg-red {
  background-color: @red !important;
}
.bg-yellow {
  background-color: @yellow !important;
}
.bg-aqua {
  background-color: @aqua !important;
}
.bg-blue {
  background-color: @medium-steel-blue !important;
}
.bg-light-blue {
  background-color: @light-blue !important;
}
.bg-green {
  background-color: @green !important;
}
.bg-navy {
  background-color: @navy !important;
}
.bg-teal {
  background-color: @teal !important;
}
.bg-olive {
  background-color: @olive !important;
}
.bg-lime {
  background-color: @lime !important;
}
.bg-orange {
  background-color: @orange !important;
}
.bg-fuchsia {
  background-color: @fuchsia !important;
}
.bg-purple {
  background-color: @purple !important;
}
.bg-maroon {
  background-color: @maroon !important;
}
