<nav data-ng-controller="ViewsController" class="w20bt-sidebar-views">
    <ul class="sidebar-list">
        <!-- home route -->
        <li class="menu-route category">
            <i class="fa fa-home"></i><a data-ng-href="#!"> {{ 'w20.menu.sidebar.home' | localize }}</a>
        </li>
        <!-- route without categories -->
        <li data-ng-repeat="route in topLevelRoutes() | orderBy:routeSortKey" class="menu-route category">
            <a data-ng-href="#!{{ route.path }}" target="{{ route.target || '_self' }}" data-ng-bind-html="displayName(route)"></a>
        </li>
        <!-- route in categories -->
        <li data-ng-repeat="category in topLevelCategories()">
            <div class="category" data-ng-click="toggleTree(menuTree()[category])">
                <span>
                    {{ localizeCategory(category) }}
                </span>
                <i class="pull-right" data-ng-class="{true: 'fa fa-caret-down', false: 'fa fa-caret-left'}[isOpened(category)]"></i>
            </div>
            <div data-ng-show="isOpened(category)">
                <ul class="subtree"
                    data-ng-repeat="subTree in subMenuTree(menuTree()[category])"
                    data-ng-include="'subtree.html'">
                </ul>
            </div>
        </li>
    </ul>
    <!-- Recursive template-->
    <script type="text/ng-template" id="subtree.html">
        <li>
            <div data-ng-if="subTree.categoryName" data-ng-click="toggleTree(subTree)" class="subcategory">
                 <span>
                    {{ localizeCategory(subTree.categoryName) }}
                 </span>
                 <i class="pull-right" data-ng-class="{true:'fa fa-caret-down', false:'fa fa-caret-left'}[isOpened(subTree.categoryName)]"></i>
            </div>

            <!-- leaf routes of nested categories -->
            <span data-ng-if="subTree.path" class="menu-route">
                <a data-ng-href="#!{{ subTree.path }}"
                   target="{{ subTree.target || '_self' }}"
                   data-ng-bind-html="displayName(subTree)">
                </a>
            </span>

            <div data-ng-show="isOpened(subTree.categoryName)">
                <ul class="subtree"
                    data-ng-repeat="subTree in subMenuTree(subTree)"
                    data-ng-include="'subtree.html'">
                </ul>
            </div>
        </li>
    </script>
</nav>