<div>
    <div class="w20-topbar" data-ng-if="showTopbar()">
        <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
            <div class="container-fluid w20bt-no-x-padding">
                <div class="navbar-header">
                    <div class="w20bt-brand" data-ng-style="{'background-color': brandBackgroundColor, 'color': brandTextColor}">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#navbar-collapse-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="w20bt-sidemenu-toggler--small" data-ng-click="toggleSidebar()" style="width: 50px; float: left">
                            <i class="fa fa-reorder"></i>
                        </div>
                        <div data-ng-class="{'w20bt-brand-id': !brandFixedWidth, 'w20bt-brand-id--fixed': brandFixedWidth}">
                            <span class="w20bt-brand-title" data-ng-bind="{{ title }}"></span>
                            <span class="w20bt-brand-description" data-ng-bind="{{ description }}"></span>
                            <span class="w20bt-brand-env" data-ng-hide="(envtype | uppercase).indexOf('PROD') == 0">
                                / {{ ('w20.menu.env.' + (envtype | lowercase)) | localize | uppercase }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-menu">
                    <a class="logo" data-ng-href="{{logoUrl}}" data-tooltip="{{ logoUrl }}"
                       data-tooltip-placement="bottom"></a>

                    <div class="w20bt-topbar-actions">
                        <ul class="nav navbar-nav">
                            <li class="w20bt-sidemenu-toggler" data-ng-click="toggleSidebar()">
                                <i class="fa fa-reorder"></i>
                            </li>
                            <li data-ng-repeat-start="navActionName in navActions()"
                                data-ng-if="$middle && navAction(navActionName).showFn()"
                                class="topbar-action-separator">
                            </li>
                            <li data-ng-repeat-end
                                data-ng-include="navAction(navActionName).templateUrl | path"
                                data-w20-include-replace
                                data-ng-if="navAction(navActionName).showFn()"
                                data-ng-init="action = navAction(navActionName)">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>